body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #151515;
  color: #fff;
  min-height: 100vh;
}

header, main, footer {
  width: 100%;
  text-align: center;
}

img {
  max-width: 100%;
}

.buttons-container {
  margin-top: 20px;
  text-align: center;
}

.buttons-table {
  margin: 0 auto;
}

.buttons-table button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.buttons-table button:hover {
  background-color: #0056b3;
}

.overlay-container {
  position: fixed;
  top: 26%; /* Ajusta la posición vertical del contenedor de la imagen */
  left: 24%; /* Ajusta la posición horizontal del contenedor de la imagen */
  width: 30%; /* Reducir aún más el ancho del contenedor de la imagen */
  height: 30%; /* Reducir aún más la altura del contenedor de la imagen */
  background-color: transparent;
  z-index: 9999;
  display: none;
  text-align: center;
  overflow: hidden;
}

.overlay-container .overlay-image {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  margin: auto; /* Centra la imagen horizontalmente */
}

.overlay-container .overlay-image img {
  max-width: 100%;
  max-height: 100%;
}

.cerrar-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 10000; /* Asegura que el botón esté encima de la imagen */
  display: none;
}

.cerrar-btn:hover {
  background-color: #0056b3;
}

.texto-izquierda {
  position: fixed;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  border-radius: 5px;
}

.texto-derecha {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  border-radius: 5px;
}
